/* .header {
  font-weight: 500;
  padding: 20px;
  padding-left:3%;
  display: flex;
  background-color: aliceblue;
}

.nav-items{
  display:flex; 
  margin-left:auto;
}
.list-item {
  margin: 50px;
  color: black;
  text-decoration: none;
} */